<!DOCTYPE html>
<html lang="id">
<head>
    <!-- DaisyUI CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Custom CSS (Jika ada) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ERD - Arif Learning{% endblock %}</title>
    <link rel="icon" href="https://cdn-icons-png.freepik.com/256/12379/12379619.png?ga=GA1.1.559232191.1739536249&semt=ais_hybrid" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar shadow shadow-lg sticky top-0 left-0 right-0 z-50 bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            
            <li>
                <details>
                  <summary>Pelajaran Mi</summary>
                  <ul class="pelajaran p-2">
                    <li><a href="{{ url_for('pelajaran_mi') }}#ah">Al-Qur'an Hadis</a></li>
                    <li><a href="{{ url_for('pelajaran_mi') }}#aa">Akidah Akhlak</a></li>
                    <li><a href="{{ url_for('pelajaran_mi') }}#fikih">Fikih</a></li>
                    <li><a href="{{ url_for('pelajaran_mi') }}#SKI">Sejarah Kebudayaan Islam</a></li>
                    <li><a href="{{ url_for('pelajaran_mi') }}#ba">Bahasa Arab</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>Pelajaran SD</summary>
                  <ul class="pelajaran p-2">
                    <li><a href="{{ url_for('pelajaran_sd') }}#mtk">Matematika</a></li>
                    <li><a href="{{ url_for('pelajaran_sd') }}#bi">Bahasa Indonesia</a></li>
                    <li><a href="{{ url_for('pelajaran_sd') }}#ipa">Ilmu Pengetahuan Alam</a></li>
                    <li><a href="{{ url_for('pelajaran_sd') }}#pp">Pendidikan Pancasila</a></li>
                    <li><a href="{{ url_for('pelajaran_sd') }}#senbud">Seni Budaya dan Prakarya</a></li>
                    <li><a href="{{ url_for('pelajaran_sd') }}#pjok">Pendidikan Jasmani, Olahraga dan Kesehatan</a></li>
                  </ul>
                </details>
              </li>
              <li><a href="{{ url_for('home') }}#about">Tentang Kami</a></li>
              <li><a href="{{ url_for('home') }}#visimisi">Visi Misi</a></li>  
            <li><a href="{{ url_for('home') }}#kontak">Hubungi Kami</a></li>  
            <li><a href="{{ url_for('erd') }}">ERD</a></li>  
            </ul>
          </div>
          <a class="text-xl text-black">Arif Learning</a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            
            <li>
                <details>
                    <summary>Pelajaran Mi</summary>
                    <ul class="pelajaran p-2">
                      <li><a href="{{ url_for('pelajaran_mi') }}#ah">Al-Qur'an Hadis</a></li>
                      <li><a href="{{ url_for('pelajaran_mi') }}#aa">Akidah Akhlak</a></li>
                      <li><a href="{{ url_for('pelajaran_mi') }}#fikih">Fikih</a></li>
                      <li><a href="{{ url_for('pelajaran_mi') }}#SKI">Sejarah Kebudayaan Islam</a></li>
                      <li><a href="{{ url_for('pelajaran_mi') }}#ba">Bahasa Arab</a></li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Pelajaran SD</summary>
                    <ul class="pelajaran p-2">
                      <li><a href="{{ url_for('pelajaran_sd') }}#mtk">Matematika</a></li>
                      <li><a href="{{ url_for('pelajaran_sd') }}#bi">Bahasa Indonesia</a></li>
                      <li><a href="{{ url_for('pelajaran_sd') }}#ipa">Ilmu Pengetahuan Alam</a></li>
                      <li><a href="{{ url_for('pelajaran_sd') }}#pp">Pendidikan Pancasila</a></li>
                      <li><a href="{{ url_for('pelajaran_sd') }}#senbud">Seni Budaya dan Prakarya</a></li>
                      <li><a href="{{ url_for('pelajaran_sd') }}#pjok">Pendidikan Jasmani, Olahraga dan Kesehatan</a></li>
                    </ul>
                  </details>
                </li>
                <li><a href="{{ url_for('home') }}#about">Tentang Kami</a></li>
                <li><a href="{{ url_for('home') }}#visimisi">Visi Misi</a></li>
              <li><a href="{{ url_for('home') }}#kontak">Hubungi Kami</a></li>  
              <li><a href="{{ url_for('erd') }}">ERD</a></li>  
          </ul>
        </div>
        <div class="navbar-end">
            <a href="{{ url_for('home') }}">
                <img src="https://cdn-icons-png.freepik.com/256/12379/12379619.png?ga=GA1.1.559232191.1739536249&semt=ais_hybrid"
                     alt="Link" class="h-9 w-9 rounded-full object-cover md:h-9 md:w-9 min-h-[36px] min-w-[36px] mr-3">
            </a>
        </div>
      </div>

      <!-- Hero -->
<div class="card w-full bg-white px-4 py-6">
    <h1 class="erd font-bold text-center text-black">ERD</h1>
    <h1 class="font-bold text-center text-black text-xl px-4 mb-10" id="sesak">Entity Relationship Diagram</h1>
    <div class="flex flex-col md:flex-row items-center">
        <figure class="w-full md:w-1/2">
            <img src="../static/img/ERD_ARIF_LEARNING.jpg" alt="ERD" class="rounded-lg w-full h-auto"/>
        </figure>
        <div class="card-body w-full md:w-1/2 p-6">
            <p class="text-black italic text-justify">Siswa - Orang Tua: One-to-Many (1 siswa memiliki 1 orang tua, tapi orang tua bisa memiliki lebih dari satu siswa).</p>
            <br>
            <p class="text-black italic text-justify">Siswa - Jawaban Siswa: One-to-Many (1 siswa bisa mengerjakan banyak kuis).</p>
            <br>
            <p class="text-black italic text-justify">Guru - Materi Pembelajaran: One-to-Many (1 guru bisa mengajarkan banyak materi).</p>
            <br>
            <p class="text-black italic text-justify">Materi Pembelajaran - Kuis: One-to-Many (1 materi pembelajaran bisa memiliki banyak kuis).</p>
            <br>
            <p class="text-black italic text-justify">Siswa - Kuis: Many-to-Many (siswa bisa mengerjakan banyak kuis, dan kuis bisa diikuti oleh banyak siswa, sehingga membutuhkan tabel relasi, yaitu Jawaban Siswa).</p>
            <br>
            <p class="text-black italic text-justify">Satu Siswa hanya memiliki satu Profil, dan satu Profil hanya milik satu Siswa. Ini adalah relasi One-to-One.</p>
            <br>
        </div>
    </div>
</div>

<div class="card w-full bg-white px-10 py-6">
    <h1 class="erd2 font-bold text-center text-black">5W 1H</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">What (Apa?)</h2>
            <p class="text-black">Arif Learning adalah platform pendidikan yang menyediakan sumber daya pembelajaran untuk siswa SD dan MI. Platform ini menawarkan berbagai materi pembelajaran, seperti buku digital, video, lembar kerja, kuis, dan permainan interaktif.</p>
        </div>
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">Who (Siapa?)</h2>
            <p class="text-black">Platform ini ditujukan untuk siswa, guru, dan orang tua, dengan tujuan memfasilitasi proses belajar mengajar. Arif Learning terutama menyasar siswa di sekolah MI dan SD, untuk membantu mereka memahami pelajaran yang sulit dengan cara yang menarik dan interaktif.</p>
        </div>
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">When (Kapan?)</h2>
            <p class="text-black">Website ini tersedia setiap saat untuk diakses, memungkinkan pengguna untuk belajar kapan saja sesuai kebutuhan mereka.
                </p>
        </div>
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">Where (Di mana?)</h2>
            <p class="text-black">Platform ini dapat diakses secara online di alamat https://arif-learning.vercel.app/.</p>
        </div>
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">Why (Mengapa?)</h2>
            <p class="text-black">Tujuan utama dari Arif Learning adalah memberikan akses mudah ke materi pelajaran yang bermanfaat, mendukung pendidikan yang lebih menyenangkan dan interaktif, serta membantu siswa lebih memahami konsep-konsep yang diajarkan di sekolah.</p>
        </div>
        <div class="card bg-gray-100 p-6 rounded-lg shadow">
            <h2 class="card-title text-black">How (Bagaimana?)</h2>
            <p class="text-black">Platform ini menggabungkan teknologi digital dengan pendekatan pendidikan yang menyenangkan, memungkinkan siswa untuk belajar melalui berbagai media seperti video, buku digital, dan kuis. Interaksi dan gamifikasi menjadi bagian penting dalam proses pembelajaran di Arif Learning.</p>
        </div>
    </div>
</div>

<!-- Link ke file JavaScript -->
<script src="../static/script.js"></script>

<footer class="footer footer-center bg-white text-primary-content p-10">
    <aside>
      <img src="https://cdn-icons-png.freepik.com/256/12379/12379619.png?ga=GA1.1.559232191.1739536249&semt=ais_hybrid" alt="Logo Arif Learning" width="50" height="50" class="h-10 w-10 rounded-full mr-3" />
      <p class="font-bold">
        Arif Learning
        <br />
        Sharing pembelajaran disini yuk.
      </p>
      <p>Copyright © 2025 - Arif Learning</p>
  </footer>

 

</body>
</html>
